@import "bootstrap"; 

body {
    background-image: url("/img/bg-main.jpg");
    background-size: cover;
    color: white;

    #ascensor {
        height: 101px;
        width: 110px;
        position: relative;
        transition: top 2s ease-in-out;

        img {
            width: 100%;
        } 
    }

    input {
        border: 2px solid #000000;
        outline: none;
    }

    .edificio {
        width: 90%;
        background: #ffffff;

        img {
            height: 100px;
            width: 100%;
        }
    }

    .pisos {
        height: 100px;
    }
}